.git/
.gitignore
__pycache__/
*.py[cod]
.venv/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pyrightcache/

data/
experiments/
visualizer/
node_modules/

*.ckpt
*.safetensors
*.pt
*.parquet
*.csv

.DS_Store
.env
