# Python
__pycache__/
*.pyc
.env
venv/
.ipynb_checkpoints/

# Data & Checkpoints
data/*.db
data/*.db-shm
data/*.db-wal
data/*.txt
data/*.json
data/**/*.osu
data/**/*.parquet

checkpoints/
*.pth

# IDE
.idea/
.vscode/

uv.lock
.venv
