# Python
__pycache__/
*.pyc
.env
venv/
.ipynb_checkpoints/

# Data & Checkpoints
data/*.json
data/**/*.json
data/**/*.txt
data/**/*.osu
data/**/*.parquet
data/**/*.csv
data/*.tar.gz

experiments/
*.pth

# IDE
.idea/
.vscode/

.venv
