# Python
__pycache__/
*.pyc
.env
venv/
.ipynb_checkpoints/

# Data & Checkpoints
data/*.json
data/*.pt
data/**/*.json
data/**/*.txt
data/**/*.osu
data/**/*.parquet
data/**/*.csv
data/*.tar.gz
data/col/*
cache/*

runs/
*.pth

visualizer/*/*.parquet

# IDE
.idea/
.vscode/

.venv

web/gateway/wrangler.jsonc
configs/local*.yaml
