torch==2.9.0+cu126
rotary-embedding-torch==0.8.9
flash-attn==2.8.3
pytorch-optimizer==3.8.0
torchmetrics==1.8.2
numpy==2.3.3
pandas==2.3.3
polars==1.35.1
pyarrow==21.0.0
scipy==1.16.2
scikit-learn==1.7.2
umap-learn==0.5.9.post2
matplotlib==3.10.6
seaborn==0.13.2
plotly==6.3.0
tqdm==4.67.1
pytorch-lightning==2.6.0
rich==14.1.0
pyyaml==6.0.3
requests==2.32.5
gdown==5.2.0
rosu-pp-py==3.1.0
ossapi==5.3.3
python-dotenv==1.1.1
